In [2]:
import datetime              as dt
import numpy                 as np
import pandas                as pd
import matplotlib.pyplot     as plt
import seaborn               as sns

In [3]:
df = pd.read_csv('../ETL/data/product_info.csv')
df.head(5)

,gtin,part_number,canonical_sku,seller_product_sku,name,description,external_id,channel_slug,price,offer,stock,created_at,updated_at
0,3147980006664,NaN,PRD0EONXV0VOE9X2,PRDDIZQ5LTN0FXAN,Adaptador de tomadas para veicular,Especificações:\n- Tamanho reduzido;\n- Bi-vol...,42096029,b2w,23.9,19.9,1,2018-08-29 14:08:18,2020-03-12 03:15:32
1,7908217006606,NaN,PRDDYFF1LNJ28DL6,PRD4JLE5JYI8RW5Z,Mini Mesa Pebolim Grande Totó Futebol 18 Jogad...,Jogo Mini Bilhar Sinuca Snooker em Madeira\n \...,NaN,luanet,231.0,188.0,5,2019-11-26 15:22:18,2019-11-26 15:33:44
2,7891638005016,NaN,PRDX5FJSTR3ELOH1,PRDZFI1Y1WL9LUKG,Jogo De Chave Biela 11 Peças 8 A 19Mm Starfer,Jogo de Chave Biela em milímetros \nChave biel...,MLB1328403129,mercadolivre,169.9,169.9,10,2019-09-27 08:58:30,2020-02-03 14:07:05
3,7896576405898,NaN,PRDRCEHVFJ83YECI,PRD8D1N0DGH1QO68,Aquecedor Digital Gas 21L REUE210FEHB Rinnai,Design arrojado com a tecnologia dos trocadore...,NaN,saraiva,2600.0,2581.6,5,2018-10-11 11:11:53,2018-10-11 11:11:53
4,78911904694596,NaN,PRD0WIEV4V2NHZHA,PRDP1X3NSSEPUPMS,Campainha Sirene Relogio De Ponto,Injetada em ABS e imune a corrosão. Sua ligaçã...,NaN,saraiva,215.0,175.0,5,2019-03-13 13:16:30,2019-03-13 13:16:30

In [4]:
df.shape

(6518, 13)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6518 entries, 0 to 6517
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gtin                6518 non-null   int64
 1   part_number         156 non-null    object
 2   canonical_sku       6518 non-null   object
 3   seller_product_sku  6518 non-null   object
 4   name                6518 non-null   object
 5   description         6518 non-null   object
 6   external_id         2611 non-null   object
 7   channel_slug        6518 non-null   object
 8   price               6518 non-null   float64
 9   offer               6518 non-null   float64
 10  stock               6518 non-null   int64
 11  created_at          6518 non-null   object
 12  updated_at          6518 non-null   object
dtypes: float64(2), int64(2), object(9)
memory usage: 662.1+ KB

In [6]:
df.describe()

               gtin          price          offer          stock
count  6.518000e+03    6518.000000    6518.000000    6518.000000
mean   7.330889e+12     270.765344     246.032274     608.853176
std    3.992222e+12    1309.464733    1299.147481    8566.917080
min    1.789851e+11       6.990000       6.990000       0.000000
25%    7.804321e+12      74.925000      62.925000       5.000000
50%    7.897313e+12     149.900000     130.890000       5.000000
75%    7.899058e+12     285.115000     244.960000      26.000000
max    7.891190e+13  100000.000000  100000.000000  246212.000000